@using PB_Blazor.Services;
@inject UserManager _userManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Main</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav @onclick="ToggleNavMenu" class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="oi oi-home" aria-hidden="true"></span> My_Account
            </NavLink>
        </div>

        @if (_userManager.IsAuthorized)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="products">
                    <span class="oi oi-cart" aria-hidden="true"></span> Products
                </NavLink>
            </div>
        }
        
    </nav>
</div>